torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
torch_geometric
pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.4.0+cu124.html
cvxpylayers
networkx numpy scipy grakel pot scikit-learn scipy numpy